body{
    background-color: rgb(0, 0, 0);
    font-family: 'Share Tech Mono', monospace ;
}
form{
    background-color: transparent;
}
input{
    background-color: magenta;
    border-radius: 5rem;
    width: 300px;
    height: 50px;
    border-style: none;
}
button{
    padding: 2px;
border-radius: 5rem;
border-style: none;
}
#ipoo{
    background-color: rgb(0, 0, 0);
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}
.movies{
    margin: 10px 10px 10px 10px;
    width: 150px;
    border-radius: 10%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;


    background-color: grey;
    color: rgb(0, 0, 0);
    font-family: 'Share Tech Mono', monospace ;

    
}
#yr{
    background-color: rgb(255, 214, 214);
    text-align: center;

}
#tit{background-color: rgb(255, 226, 216);
    text-align: center;
    font-weight: bold;
}
#im{
    width: 130px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10%;
}